<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Enumerable Planets</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<h1>Pick a planet:</h1>
<div class="form-group">

    <!--<ul>
        <th:block th:each="planet :${planets}">
&lt;!&ndash;            <li th:text="${planet}"></li>&ndash;&gt;
        <li th:text="${planet.displayName} + ' : ' + ${planet.yearLength}"></li>

        </th:block>

    </ul>-->
<!--    <div class="form-group">-->
<!--        <label> Type-->
<!--            <select th:field="${planets}">-->
<!--                <option th:each="planet : ${planets}"-->
<!--                        th:value="${planet}"-->
<!--                        th:text="${planet.displayName}"></option>-->
<!--            </select>-->
<!--        </label>-->
<!--    </div>-->

    <table class="table table-dark">
        <th>Planets</th>
        <th>Length of the year</th>
        <th>Density</th>
        <th:block th:each="planet : ${planets}">

        <tr>
            <td th:text="${planet.displayName}"></td>
            <td th:text="${planet.yearLength} + ' Number of earth days on each planet '" ></td>
            <td th:text="${planet.density} + ' g/cm3'"></td>
        </tr>
        </th:block>

    </table>
</div>

</body>
</html>